@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-white overflow-hidden;
    font-family: 'Inter', sans-serif;
  }
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #111827; 
}

::-webkit-scrollbar-thumb {
  background: #374151; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #4b5563; 
}